.feedback {
    padding-bottom: 71px;
    .feedback__wrapper {
        display: flex;
        flex-direction: column;
        .feedback-item {
            display: flex;
            margin-top: 100px;
            &:nth-child(1){
                margin-top: 70px;
            }
            &__img {
                width: 169px;
                height: 169px;
            }
            &__descr {
                margin-left: 62px;
                padding-right: 60px;
            }
            &__name {
                color: #0d0d0d;
                font-size: 18px;
                font-weight: 700;
            }
            &__marathone {
                color: #646464;
                font-size: 14px;
                font-weight: 500;
            }
            &__text {
                color: #0d0d0d;
                font-size: 16px;
                font-weight: 300;
                margin-top: 10px;
            }

        } // feedback-item 

    } //feedback__wrapper 

} //feedback
